.settingsButton {
  background: none;
  border: none;
  color: rgb(64, 123, 255);
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  padding: 0;
  margin-left: 0.5rem;
}

.logoutButton {
  background: none;
  border: none;
  color: rgb(64, 123, 255);
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  padding: 0;
  margin-left: 0.5rem;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.logoutButton:hover,
.settingsButton:hover {
  color: var(--secondary-orange);
  background: none;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  position: absolute;
  background: var(--background);
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.2);
  border-radius: 10px;
  padding: 16px;
  z-index: 1000;
  font-weight: 400;
  font-size: 16px;
}
.buttonsSettings,
.buttonsLogout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}