.dailyWrapper {
  margin-top: 48px;
  border: 1px solid var(--secondary-2);
  border-radius: 10px;
  padding: 8px 20px;
  position: relative;
  top: -28px;
  max-width: fit-content;
  box-shadow: var(--box-shadow-2);
}

.wrapper {
  position: relative;
  top: -28px;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  /* height: 280px; */
  height: 206px;
  background-size: contain;
  background-image: var(--bg-bottle-mobile-home);
  z-index: 1;
}

@media (min-resolution: 2dppx) {
  .wrapper {
    background-image: var(--bg-bottle-mobile-2x-home);
  }
}

.title {
  font-size: 18px;
  text-align: left;
  color: var(--text);
}

.normaWrap {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 12px;
}
.normaText {
  font-family: inherit;
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-blue);
}
.editBtn {
  background-color: transparent;
  color: var(--secondary-4);
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .dailyWrapper {
    position: static;
    margin-top: 40px;
  }
  .wrapper {
    height: 388px;
    top: -78px;

    height: 386px;
    background-image: var(--bg-bottle-tablet-home);
  }
}

@media (min-resolution: 2dppx) {
  .wrapper {
    background-image: var(--bg-bottle-tablet-2x-home);
  }
}

@media screen and (min-width: 1440px) {
  .dailyWrapper {
    margin-top: 52px;
  }
  .wrapper {
    background-image: var(--bg-bottle-desktop-home);
    top: -108px;
    right: 50px;
    width: 748px;
    height: 548px;
  }
}

@media (min-resolution: 2dppx) {
  .wrapper {
    background-image: var(--bg-bottle-desktop-2x-home);
  }
}
