.dailyWrapper {
  margin-top: 24px;
  border: 1px solid #ecf2ff;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 8px 20px;
  /* display: flex;
  flex-direction: column; */
}

.title {
  text-align: center;
}

.normaWrap {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
}
