.state {
  position: relative;
  background-color: var(--secondary-2);
  min-width: 264px;
  padding: 24px 8px;
}
.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}

.paginator {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header {
  color: var(--text);
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.date {
  line-height: 20px;
  text-align: center;
  color: var(--primary-blue);
  padding: 0;
}

.btn {
  background: transparent;
  padding: 3px 0;
  cursor: pointer;
}

.svg {
  width: 14px;
  height: 14px;
  fill: var(--primary-blue);
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px 26px;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.item {
  width: 32px;
  height: 32px;
  padding: 7px 6px;
  background-color: var(--background);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  border: 1px solid transparent;
  margin-bottom: 16px;
}

.notReached {
  border-color: var(--secondary-orange);
}
.percent {
  color: var(--secondary-4);
  font-size: 10px;
  line-height: 16px;
  position: absolute;
  bottom: -20px;
}

.dayInfoWrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
  .state {
    min-width: 656px;
    padding-top: 24px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 32px;
  }

  .header {
    font-size: 26px;
    line-height: 32px;
  }

  .list {
    gap: 20px 34px;
  }

  .item {
    width: 34px;
    height: 34px;
    padding: 7px;
    font-size: 16px;
    line-height: 20px;
  }

  .dayInfoWrapper {
    transform: translate(-88%, 0);
  }
}

@media screen and (min-width: 1440px) {
  .state {
    min-width: 592px;
  }
  .list {
    gap: 20px 22px;
  }
  .dayInfoWrapper {
    transform: translate(-99%, 0);
  }
}
