.wrapper {
  display: flex;
  flex-direction: column;
}

.ratioPanelMain {
  max-width: 256px;
  width: 100%;
  height: 8px;
  border-radius: 10px;
  margin: 10px;
  background-color: var(--secondary-blue);
  position: relative;
}
.panelTitle {
  font-size: 18px;
  font-weight: 400px;
  color: var(--primary-blue);
}
.ratioPanelProgress {
  height: 8px;
  border-radius: 10px;
  background-color: var(--secondary-4);
  width: 0%;
}
.ratioPanelLabels {
  display: flex;
  justify-content: space-between;
  color: var(--primary-blue);
  position: relative;
}
.ratioPanelDot {
  position: absolute;
  top: -3px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--background);
  border: 1px solid var(--primary-blue);
  transform: translateX(-50%);
}
.ratioPanelLabels span {
  font-size: 12px;
  position: relative;
}

.ratioLabel {
  font-size: 12px;
  position: relative;
}
.ratioLabel.active {
  font-weight: 500;
  font-size: 16px;
}
.ratioLabel::before {
  content: '';
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 8px;
  background-color: var(--secondary-blue);
}

@media screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    margin-bottom: 40px;
  }
  .ratioPanelWrap {
    max-width: 356px;
    width: 100%;
  }
  .ratioPanelMain {
    max-width: 325px;
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    flex-direction: row;
    margin-bottom: 0;
  
  }
  .ratioPanelWrap {
    max-width: 356px;
    width: 100%;
  }
  .ratioPanelMain {
    max-width: 325px;
    width: 100%;
  }
}
