.container {
    border-radius: 10px;
    padding: 24px 16px;
    box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.3);
    background-color: var(--sec-2-l);
}

.title {
    font-weight: 500;
    font-size: 18px;
    line-height: 111%;
    color: var(--text-light);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 12px;
}

.listItem {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    line-height: 1.25;
    color: var(--text-light);
}

.icon {
    font-size: 1rem;
    min-width: 24px;
    color: var(--primary-blue-l);
    vertical-align: middle;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 494px;
    }



}

/*<----------1280px--------->*/

@media screen and (min-width: 1280px) {
    .container {}

}