.userLogoButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
  min-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: relative;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.userInitial {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  font-weight: bold;
}
.point {
  display: flex;
  align-items: center;
}
.icon {
  width: 16px;
  height: 16px;
  color: #007bff;
}
.icon:hover {
  stroke: rgb(255, 157, 67);
  fill: rgb(255, 157, 67);
}
.user {
  margin-right: 5px;
}
