.btnDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addWaterBtn {
  max-width: 280px;
  width: 100%;
  font-size: 16px;
  padding: 10px 72px;
  border-radius: 10px;
  background-color: var(--primary-blue);
  color: var(--background);
  margin-bottom: 40px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: var(--box-shadow-3);
}

.svgCross {
  height: 24px;
  width: 24px;
  stroke: var(--primary-blue);
}

@media screen and (min-width: 768px) {
  .addWaterBtn {
    max-width: 336px;
    width: 100%;
  }
}
