.addWaterBtn {
  width: 100%;
  font-size: 16px;
  padding: 8px 76px;
  border-radius: 10px;
  background-color: var(--primary-blue);
  color: var(--background);
  margin-top: 16px;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: var(--box-shadow-3);
  cursor: var(--cursor-h);
}

.svgCross {
  height: 24px;
  width: 24px;
  stroke: var(--primary-blue);
  fill: var(--background);
}

@media screen and (min-width: 768px) {
  .addWaterBtn {
    padding: 10px 104px;
    min-width: 336px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1440px) {
  .addWaterBtn {
    min-width: 178px;
    padding: 10px 30px;
  }
}
