.linkWrapper {
  display: flex;
  align-items: center;
  cursor: var(--cursor-h);
  color: rgb(64, 123, 255);
  text-decoration: none;
}

.navLink {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  gap: 8px;
  cursor: var(--cursor-h);
}

.icon {
  width: 28px;
  height: 28px;
  fill: transparent;
  stroke: #2f2f2f;
}
/* .icon:hover {
  stroke: rgb(255, 157, 67);
} */

.linkWrapper:hover {
  color: rgb(255, 157, 67);
}
