.container {
    min-height: 384px;
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.14;
    color: var(--text);
}

.subTitle {
    font-size: 24px;
    line-height: 1.25;
    color: var(--text);
    margin-top: 16px;
}

.listTitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.11;
    color: var(--text);
    margin-top: 24px;
}

.listWraper {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 12px;
}

.wraper {
    display: flex;
    align-items: center;
}

.listItem {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--text);
}

.icon {
    color: var(--primary-blue);
    margin-right: 8px;
    width: 32px;
    height: 32px;
}

.button {
    margin-top: 24px;
    border-radius: 10px;
    padding: 8px 30px;
    width: 280px;
    height: 36px;
    box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
    background-color: var(--primary-blue);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #ffffff;
    cursor: var(--cursor-h);
}

.button:hover {
    box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
}

.button:active {
    box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
    cursor: var(--cursor-a);
}

@media screen and (min-width: 768px) {
    .container {
        min-height: 254px;
        min-width: 704px;
    }

    .title {
        font-size: 36px;
    }

    .subTitle {
        font-size: 26px;
    }

    .listWraper {
        flex-direction: row;
        gap: 16px;
    }

    .icon {
        width: 40px;
        height: 40px;
    }

    .wraper {
        width: calc((100% - 16px) / 2);
    }

    .button {
        margin-top: 24px;
        border-radius: 10px;
        padding: 10px 30px;
        width: 336px;
        height: 44px;
        font-size: 18px;
        line-height: 1.33;

    }

}

/*<----------1440px--------->*/

@media screen and (min-width: 1440px) {
    .container {
        min-height: 366px;
        min-width: 439px;
    }

    .listWraper {
        flex-direction: column;
    }

    .button {
        margin-top: 24px;
        width: 384px;
    }
}