.container {
    background-color: transparent;
    min-height: 384px;
}

.title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.14;
    color: var(--text-light);
}

.subTitle {
    font-size: 24px;
    line-height: 1.25;
    color: var(--text-light);
    margin-top: 16px;
}

.listTitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.11;
    color: var(--text-light);
    margin-top: 24px;
}

.listWraper {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 12px;
}

.wraper {
    display: flex;
    align-items: center;
}

.listItem {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--text-light);
}

.icon {
    color: var(--primary-blue-l);
    margin-right: 8px;
}

.button {
    margin-top: 24px;
    border-radius: 10px;
    padding: 8px 30px;
    width: 280px;
    height: 36px;
    box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
    background-color: var(--primary-blue-l);
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #ffffff;
}

@media screen and (min-width: 768px) {
    .container {
        min-height: 254px;
        min-width: 704px;
    }

    .listWraper {
        flex-direction: row;
        gap: 16px;
    }

    .wraper {
        width: calc((100% - 16px) / 2);
    }

}

/*<----------1440px--------->*/

@media screen and (min-width: 1440px) {
    .container {
        min-height: 366px;
        min-width: 439px;
    }

    .listWraper {
        flex-direction: column;
    }
}