.themeButton {
  background-color: var(--background);
  border: 1px solid var(--secondary-blue);
  box-shadow: inset 0 4px 14px 0 rgba(64, 123, 255, 0.54);
  color: var(--primary-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 20px;
  width: 56px;
  cursor: var(--cursor-h);
  position: relative;
  overflow: hidden;
}

.icon {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

.hide {
  opacity: 0;
  transform: translateX(-20px);
}

.themeButton:active {
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  cursor: var(--cursor-a);
}

.themeButton:hover .icon {
  color: var(--secondary-orange);
}

.themeButton:hover{
  border: solid 1px var(--secondary-orange);
}