.container {
  max-width: 280px;
  max-height: 840px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}


/*<----------768px--------->*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;
    max-height: 646px;
    align-items: flex-start;
    gap: 60px;
  }
}

/*<----------1440px--------->*/

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1014px;
    max-height: 366px;
    flex-direction: row;
    align-items: flex-end;
    gap: 81px;
  }
}