.modalOverlay {
  max-width: 280px;
  width: 100%;
  padding: 24px 12px;
  background-color: #fff;
  border-radius: 10px;
  position: fixed;
  top: 40px;
  left: 20px;
  z-index: 200;
  overflow-y: auto;
}

.modalTitle {
  font-size: 26px;
  text-align: left;
  margin-bottom: 24px;
}

.closeBtn {
  margin-left: auto;
  position: absolute;
  top: 28px;
  right: 12px;
  width: 24px;
  height: 24px;
  background: none;
  color: var(--primary-blue);
}

.womanManRatio {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 12px;
}

.modalText {
  font-size: 16px;
}
.modalText span {
  font-size: 18px;
  color: var(--primary-blue);
}
.modalTextSmall {
  font-size: 12px;
  color: gray;
  padding: 10px;
  border: 1px solid #d7e3ff;
  border-radius: 10px;
}

.modalTextSmall span {
  color: var(--primary-blue);
}

.modalTitleSec {
  font-size: 18px;
}
.modalWrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.calculateWrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.chooseGenderWrap {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.chooseGenderWrap input {
  margin-right: 8px;
}
.input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #d7e3ff;
  border-radius: 10px;
}
.writeDownWrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btn {
  max-width: 280px;
  width: 100%;
  font-size: 16px;
  padding: 8px 72px;
  padding-bottom: 8px;
  border-radius: 10px;
  background-color: var(--primary-blue);
  color: var(--background);
  font-size: 16px;
  font-family: inherit;
  margin-top: 16px;
  cursor: url('../../assets//img/cursors/mdi_cursor-pointer.svg'), auto;
}
