input,
textarea {
  font-family: inherit;
  font-size: 16px;
  line-height: calc(1.25);
  padding: 11px 10px;
  color: var(--primary-blue);
  background-color: var(--background);
  border: 1px solid var(--secondary-blue);
  border-radius: 6px;
  width: 100%;
}

input:focus {
  color: var(--primary-blue);
  outline: none;
  border-color: ar(--secondary-blue);
}

input::placeholder {
  color: var(--primary-blue);
}
.errorMessage {
  color: var(--secondary-3);
  font-size: 14px;
  line-height: calc(18 / 14);
  margin-top: -4px;
}

.container {
  position: fixed; /* Щоб модалка була завжди по центру */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  color: var(--text);
  width: 90%;
  max-width: 704px; /* Задаємо максимальну ширину */
  padding: 24px 12px;
  border-radius: 10px;
  background: var(--background);
  overflow-y: auto; /* Прокручування, якщо вміст більше */
  max-height: 90vh; /* Максимальна висота для великих екранів */
  z-index: 1000; /* Встановлюємо високий z-index */
}

@media screen and (min-width: 768px) {
  .container {
    padding: 32px 24px;
    max-width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 592px;
    max-width: 100%; /* Щоб не виходило за рамки екрану */
  }
}

.titleContainer {
  position: relative;
}

.title {
  font-size: 26px;
  line-height: calc(32 / 26);
  font-weight: 500;
  color: var(--text);
  margin-bottom: 24px;
}

.iconClose {
  fill: var(--primary-blue);
  stroke: var(--primary-blue);
  width: 24px;
  height: 24px;
}

.buttonClose {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* .buttonClose {
  background: var(--bg-light);
} */

.formulaContainer {
  display: flex;
  flex-wrap: wrap;

  gap: 16px;

  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    gap: 24px;
  }
  @media screen and (min-width: 1440px) {
  }
}

.formula {
  font-size: 16px;
  line-height: calc(20 / 16);

  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
  align-items: center;
}

.formula > span {
  font-size: 18px;
  line-height: calc(24 / 18);
  color: var(--primary-blue);
}

.formulaDescription {
  border-radius: 10px;
  border: 1px solid var(--secondary-blue);
  padding: 9px;
  margin-bottom: 24px;

  color: #8f8f8f;
  font-size: 12px;
  line-height: calc(16 / 12);

  text-align: justify;

  span {
    color: var(--primary-blue);
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1440px) {
  }
}

.titleCalculate {
  font-size: 18px;
  line-height: calc(20 / 18);
  /* font-weight: 500; */
  color: var(--text);

  margin-bottom: 16px;
}

.calculation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1440px) {
  }
}

.chooseGender {
  display: flex;
  gap: 24px;

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1440px) {
  }
}

.radioButton {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  line-height: calc(20 / 16);

  input[type='radio'] {
    display: none;
  }

  div {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    border: 1px solid var(--primary-blue);
    background-color: transparent;
    cursor: pointer;

    transition: background-color 0.3s cubic-bezier(0.7, 0.98, 0.86, 0.98),
      border 0.3s cubic-bezier(0.7, 0.98, 0.86, 0.98);
  }

  input[type='radio']:checked + div {
    background-color: var(--primary-blue);
    box-shadow: inset 0 0 0 3px var(--background);
  }

  span {
    cursor: pointer;
  }
}

.chooseWeight,
.chooseActivTime {
  /* font-size: 16px; */
  /* font-weight: 400; */
  line-height: calc(20 / 16);
  /* color: var(--text); */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  width: 100%;
}

.calcResult {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-bottom: 24px;
}

.titleResult {
  /* font-size: 16px; */
  line-height: calc(20 / 16);
  font-weight: 400;
  margin-bottom: 0;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1440px) {
  }
}

.valueResult {
  white-space: nowrap;
  color: var(--primary-blue);
  font-size: 18px;
  font-weight: 700;
  line-height: calc(24 / 18);

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1440px) {
  }
}

.plannedResult {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 24px;
  width: 100%;
  width: 100%;

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1440px) {
  }
}

.writePlannedResult {
  font-size: 18px;
  font-weight: bold;
  line-height: calc(20 / 18);
}

.saveButton {
  border-radius: 10px;
  background: var(--primary-blue);
  /* box-shadow: 0px 4px 8px 0px rgba(64, 123, 255, 0.34); */
  box-shadow: var(--box-shadow-3);
  color: var(--bg-light);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: calc(20 / 16);
  width: 100%;
  padding: 8px 30px;
}

@media screen and (min-width: 768px) {
  .buttonSaveContainer {
    display: flex;
    justify-content: flex-end;
  }
  .saveButton {
    padding: 10px 30px;
    width: 160px;
    height: 44px;
  }
}
