.modalWrapper {
  /* Стилі з міксина overlay */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Напівпрозорий чорний фон */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #ffffff;
  /* Білий фон */
  position: relative;
  z-index: 999;
  border-radius: 10px;
  padding: 24px 12px;
  max-width: 280px;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .modal {
    max-width: 704px;
    padding: 32px 24px;
  }
}

@media (min-width: 1024px) {
  .modal {
    max-width: 1008px;
  }
}

.modalTop {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  /* Вирівнювання по горизонталі */
  align-items: flex-start;
}

.modalTop>h3 {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.23;
  /* 123% */
  color: #000000;
  /* Чорний текст */
}

.modalTop .svg {
  width: 20px;
  height: 20px;
  fill: none;
}

.modalTop button {
  background-color: transparent;
  padding: 0;
  border: none;
}