.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px 0px 0px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 16px 0px 0px 0px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 12px 0px 0px 0px;
  }
}
