:root {
  /* light-theme-colors */
  --bg-light: #fff;
  --text-light: #2f2f2f;
  --primary-blue-l: #407bff;
  --sec-2-l: #ecf2ff;
  --sec-3-l: #ef5050;
  --sec-4-l: #9ebbff;
  --sec-orange-l: #ff9d43;
  --sec-lightblue-l: #d7e3ff;

  /* box-shadows light */
  --box-shadow-l: 0 4px 14px 0 rgba(64, 123, 255, 0.3);
  --box-shadow-l-2: 0 4px 4px 0 rgba(64, 123, 255, 0.3);
  --box-shadow-l-3: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  /* Light theme cursors */
  --cursor-fing-h: url('../assets/img/cursors/mdi_cursor-pointer.svg'), pointer;
  --cursor-fing-a: url('../assets/img/cursors/mdi_cursor-pointer.svg'), pointer;

  /* Background-images for WelcomePage light */

  --bg-image-light-mobile: url(../assets/images/welcome/elL-mob-1x.png),
    url(../assets/images/welcome/bgL-mob-1x.png);
  --bg-image-light-mobile-2x: url(../assets/images/welcome/elL-mob-2x.png),
    url(../assets/images/welcome/bgL-mob-2x.png);
  --bg-image-light-tablet: url(../assets/images/welcome/elL-tab-1x.png),
    url(../assets/images/welcome/bgL-tab-1x.png);
  --bg-image-light-tablet-2x: url(../assets/images/welcome/elL-tab-2x.png),
    url(../assets/images/welcome/bgL-tab-2x.png);
  --bg-image-light-desktop: url(../assets/images/welcome/elL-pc-1x.png),
    url(../assets/images/welcome/bgL-pc-1x.png);
  --bg-image-light-desktop-2x: url(../assets/images/welcome/elL-pc-2x.png),
    url(../assets/images/welcome/bgL-pc-2x.png);

  /* Background-images for HomePage light */
  --bg-image-light-mobile-home: url(/assets/images/bg-dots-mob-1x.png);
  --bg-image-light-mobile-2x-home: url(/assets/images/bg-dots-mob-2x.png);
  --bg-image-light-tablet-home: url(/assets/images/bg-dots-tab-1x.png);
  --bg-image-light-tablet-2x-home: url(/assets/images/bg-dots-tab-2x.png);
  --bg-image-light-desktop-home: url(/assets/images/bg-dots-desk-1x-min.png);
  --bg-image-light-desktop-2x-home: url(/assets/bg-dots-desk-2x-min.png);

  /* Background-bottle for HomePage light */
  --bg-bottle-light-mobile-home: url(/assets/images/bottle-mob-1x.png);
  --bg-bottle-light-mobile-2x-home: url(/assets/images/bottle-mob-2x.png);
  --bg-bottle-light-tablet-home: url(/assets/images/bottle-tab-1x.png);
  --bg-bottle-light-tablet-2x-home: url(/assets/images/bottle-tab-2x.png);
  --bg-bottle-light-desktop-home: url(/assets/images/bottle-desk-1x.png);
  --bg-bottle-light-desktop-2x-home: url(/assets/images/bottle-desk-2x.png);

  /* dark-theme-colors */

  --bg-dark: #1c1d26;
  --text-dark: #d5dff5;
  --primary-blue-d: #5082f2;
  --sec-2-d: #1f2438;
  --sec-3-d: #f16161;
  --sec-4-d: #2f3875;
  --sec-orange-d: #ffa756;
  --sec-lightblue-d: #2a3052;

  /* box-shadows dark*/
  --box-shadow-d: 0 4px 14px 0 rgba(0, 0, 0, 0.2);
  --box-shadow-d-2: 0 4px 14px 0 rgba(0, 0, 0, 0.2);
  --box-shadow-d-3: 0 4px 8px 0 rgba(0, 0, 0, 0.34);

  /* Dark theme cursors */
  --cursor-arr-h: url('../assets/img/cursors/outlineArrow1.svg'), pointer;
  --cursor-arr-a: url('../assets/img/cursors/outlineArrow2.svg'), pointer;

  /* Background-images for WelcomePage dark */
  --bg-image-dark-mobile: url(../assets/images/welcome/elD-mob-1x.png),
    url(../assets/images/welcome/bgD-mob-1x.png);
  --bg-image-dark-mobile-2x: url(../assets/images/welcome/elD-mob-2x.png),
    url(../assets/images/welcome/bgD-mob-2x.png);
  --bg-image-dark-tablet: url(../assets/images/welcome/elD-tab-1x.png),
    url(../assets/images/welcome/bgD-tab-1x.png);
  --bg-image-dark-tablet-2x: url(../assets/images/welcome/elD-tab-2x.png),
    url(../assets/images/welcome/bgD-tab-2x.png);
  --bg-image-dark-desktop: url(../assets/images/welcome/elD-pc-1x.png),
    url(../assets/images/welcome/bgD-pc-1x.png);
  --bg-image-dark-desktop-2x: url(../assets/images/welcome/elD-pc-2x.png),
    url(../assets/images/welcome/bgD-pc-2x.png);

  /* Background-images for HomePage dark */
  --bg-image-dark-mobile-home: url(/assets/images/bg-dots-mob-1x.png);
  --bg-image-dark-mobile-2x-home: url(/assets/images/bg-dots-mob-dark-2x-min.png);
  --bg-image-dark-tablet-home: url(/assets/images/bg-dots-tab-dark-1x-min.png);
  --bg-image-dark-tablet-2x-home: url(/assets/images/bg-dots-tab-dark-2x-min.png);
  --bg-image-dark-desktop-home: url(/assets/images/bg-dots-desk-dark-1x-min.png.png);
  --bg-image-dark-desktop-2x-home: url(/assets/images/bg-dots-desk-dark-2x-min.png.png);

  /* Background-bottle for HomePage dark */
  --bg-bottle-dark-mobile-home: url(/assets/images/bottle-mob-dark-1x.png);
  --bg-bottle-dark-mobile-2x-home: url(/assets/images/bottle-mob-dark-2x.png);
  --bg-bottle-dark-tablet-home: url(/assets/images/bottle-tab-dark-1x.png);
  --bg-bottle-dark-tablet-2x-home: url(/assets/images/bottle-tab-dark-2x.png);
  --bg-bottle-dark-desktop-home: url(/assets/images/bottle-desk-dark-1x.png);
  --bg-bottle-dark-desktop-2x-home: url(/assets/images/bottle-desk-dark-2x.png);

  /* variables */
  --background: var(--bg-light);
  --text: var(--text-light);
  --primary-blue: var(--primary-blue-l);
  --secondary-2: var(--sec-2-l);
  --secondary-3: var(--sec-3-l);
  --secondary-4: var(--sec-4-l);
  --secondary-orange: var(--sec-orange-l);
  --secondary-blue: var(--sec-lightblue-l);

  /* box-shadows*/
  --box-shadow: var(--box-shadow-l);
  --box-shadow-2: var(--box-shadow-l-2);
  --box-shadow-3: var(--box-shadow-l-3);

  /* Cursors */
  --cursor-h: var(--cursor-fing-h);
  --cursor-a: var(--cursor-fing-a);

  /* Background images*/
  --bg-image-mobile: var(--bg-image-light-mobile);
  --bg-image-mobile-2x: var(--bg-image-light-mobile-2x);
  --bg-image-tablet: var(--bg-image-light-tablet);
  --bg-image-tablet-2x: var(--bg-image-light-tablet-2x);
  --bg-image-desktop: var(--bg-image-light-desktop);
  --bg-image-desktop-2x: var(--bg-image-light-desktop-2x);

  /* Background images homepage*/
  --bg-image-mobile-home: var(--bg-image-light-mobile-home);
  --bg-image-mobile-2x-home: var(--bg-image-light-mobile-2x-home);
  --bg-image-tablet-home: var(--bg-image-light-tablet-home);
  --bg-image-tablet-2x-home: var(--bg-image-light-tablet-2x-home);
  --bg-image-desktop-home: var(--bg-image-light-desktop-home);
  --bg-image-desktop-2x-home: var(--bg-image-light-desktop-2x-home);

  /* Background bottle homepage*/
  --bg-bottle-mobile-home: var(--bg-bottle-light-mobile-home);
  --bg-bottle-mobile-2x-home: var(--bg-bottle-light-mobile-2x-home);
  --bg-bottle-tablet-home: var(--bg-bottle-light-tablet-home);
  --bg-bottle-tablet-2x-home: var(--bg-bottle-light-tablet-2x-home);
  --bg-bottle-desktop-home: var(--bg-bottle-light-desktop-home);
  --bg-bottle-desktop-2x-home: var(--bg-bottle-light-desktop-2x-home);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--bg-dark);
    --text: var(--text-dark);
    --primary-blue: var(--primary-blue-d);
    --secondary-2: var(--sec-2-d);
    --secondary-3: var(--sec-3-d);
    --secondary-4: var(--sec-4-d);
    --secondary-orange: var(--sec-orange-d);
    --secondary-blue: var(--sec-lightblue-d);

    /* box-shadows*/
    --box-shadow: var(--box-shadow-d);
    --box-shadow-2: var(--box-shadow-d-2);
    --box-shadow-3: var(--box-shadow-d-3);

    /* Applying cursors for dark theme */
    --cursor-h: var(--cursor-arr-h);
    --cursor-a: var(--cursor-arr-a);

    /* Background images for dark theme */
    --bg-image-mobile: var(--bg-image-dark-mobile);
    --bg-image-mobile-2x: var(--bg-image-dark-mobile-2x);
    --bg-image-tablet: var(--bg-image-dark-tablet);
    --bg-image-tablet-2x: var(--bg-image-dark-tablet-2x);
    --bg-image-desktop: var(--bg-image-dark-desktop);
    --bg-image-desktop-2x: var(--bg-image-dark-desktop-2x);

    /* Background images for Homepage dark theme */
    --bg-image-mobile-home: var(--bg-image-dark-mobile-home);
    --bg-image-mobile-2x-home: var(--bg-image-dark-mobile-2x-home);
    --bg-image-tablet-home: var(--bg-image-dark-tablet-home);
    --bg-image-tablet-2x-home: var(--bg-image-dark-tablet-2x-home);
    --bg-image-desktop-home: var(--bg-image-dark-desktop-home);
    --bg-image-desktop-2x-home: var(--bg-image-dark-desktop-2x-home);

    /* Background bottle homepage*/
    --bg-bottle-mobile-home: var(--bg-bottle-dark-mobile-home);
    --bg-bottle-mobile-2x-home: var(--bg-bottle-dark-mobile-2x-home);
    --bg-bottle-tablet-home: var(--bg-bottle-dark-tablet-home);
    --bg-bottle-tablet-2x-home: var(--bg-bottle-dark-tablet-2x-home);
    --bg-bottle-desktop-home: var(--bg-bottle-dark-desktop-home);
    --bg-bottle-desktop-2x-home: var(--bg-bottle-dark-desktop-2x-home);
  }
}

body {
  background-color: var(--background);
  color: var(--text);
}

body.light {
  --background: var(--bg-light);
  --text: var(--text-light);
  --primary-blue: var(--primary-blue-l);
  --secondary-2: var(--sec-2-l);
  --secondary-3: var(--sec-3-l);
  --secondary-4: var(--sec-4-l);
  --secondary-orange: var(--sec-orange-l);
  --secondary-blue: var(--sec-lightblue-l);

  /* box-shadows*/
  --box-shadow: var(--box-shadow-l);
  --box-shadow-2: var(--box-shadow-l-2);
  --box-shadow-3: var(--box-shadow-l-3);

  /* Cursors */
  --cursor-h: var(--cursor-fing-h);
  --cursor-a: var(--cursor-fing-a);

  /* Background images */
  --bg-image-mobile: var(--bg-image-light-mobile);
  --bg-image-mobile-2x: var(--bg-image-light-mobile-2x);
  --bg-image-tablet: var(--bg-image-light-tablet);
  --bg-image-tablet-2x: var(--bg-image-light-tablet-2x);
  --bg-image-desktop: var(--bg-image-light-desktop);
  --bg-image-desktop-2x: var(--bg-image-light-desktop-2x);

  /* Background images homepage*/
  --bg-image-mobile-home: var(--bg-image-light-mobile-home);
  --bg-image-mobile-2x-home: var(--bg-image-light-mobile-2x-home);
  --bg-image-tablet-home: var(--bg-image-light-tablet-home);
  --bg-image-tablet-2x-home: var(--bg-image-light-tablet-2x-home);
  --bg-image-desktop-home: var(--bg-image-light-desktop-home);
  --bg-image-desktop-2x-home: var(--bg-image-light-desktop-2x-home);

  /* Background bottle homepage*/
  --bg-bottle-mobile-home: var(--bg-bottle-light-mobile-home);
  --bg-bottle-mobile-2x-home: var(--bg-bottle-light-mobile-2x-home);
  --bg-bottle-tablet-home: var(--bg-bottle-light-tablet-home);
  --bg-bottle-tablet-2x-home: var(--bg-bottle-light-tablet-2x-home);
  --bg-bottle-desktop-home: var(--bg-bottle-light-desktop-home);
  --bg-bottle-desktop-2x-home: var(--bg-bottle-light-desktop-2x-home);
}

body.dark {
  --background: var(--bg-dark);
  --text: var(--text-dark);
  --primary-blue: var(--primary-blue-d);
  --secondary-2: var(--sec-2-d);
  --secondary-3: var(--sec-3-d);
  --secondary-4: var(--sec-4-d);
  --secondary-orange: var(--sec-orange-d);
  --secondary-blue: var(--sec-lightblue-d);

  /* box-shadows*/
  --box-shadow: var(--box-shadow-d);
  --box-shadow-2: var(--box-shadow-d-2);
  --box-shadow-3: var(--box-shadow-d-3);

  /* Cursors */
  --cursor-h: var(--cursor-arr-h);
  --cursor-a: var(--cursor-arr-a);

  /* Background images for dark theme */
  --bg-image-mobile: var(--bg-image-dark-mobile);
  --bg-image-mobile-2x: var(--bg-image-dark-mobile-2x);
  --bg-image-tablet: var(--bg-image-dark-tablet);
  --bg-image-tablet-2x: var(--bg-image-dark-tablet-2x);
  --bg-image-desktop: var(--bg-image-dark-desktop);
  --bg-image-desktop-2x: var(--bg-image-dark-desktop-2x);

  /* Background images for Homepage dark theme */
  --bg-image-mobile-home: var(--bg-image-dark-mobile-home);
  --bg-image-mobile-2x-home: var(--bg-image-dark-mobile-2x-home);
  --bg-image-tablet-home: var(--bg-image-dark-tablet-home);
  --bg-image-tablet-2x-home: var(--bg-image-dark-tablet-2x-home);
  --bg-image-desktop-home: var(--bg-image-dark-desktop-home);
  --bg-image-desktop-2x-home: var(--bg-image-dark-desktop-2x-home);
}

/* Hover and active for buttons */
.button:hover {
  cursor: var(--cursor-h);
}

.button:active {
  cursor: var(--cursor-a);
}
