* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
img {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: black;
}
button {
  border-radius: 5px;
  padding: 2px 5px;
  cursor: pointer;
  height: min-content;
  border: none;
  font-weight: 500;
}
