* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
img {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: black;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  background-color: #407BFF;
  color: #ffffff;
  max-width: 384px;
  border-radius: 10px;
}
