.background {
  background-image: var(--bg-image-mobile-home);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh; 
  /* position: relative;
  z-index: 5; */
 }

@media (min-resolution: 2dppx) {
  .background {
    background-image: var(--bg-image-mobile-2x-home);
  }
}

@media screen and (min-width: 768px) {
  .background {
    background-image: var(--bg-image-tablet-home);
  }

}

@media (min-resolution: 2dppx) {
  .background {
    background-image: var(--bg-image-tablet-home-2x);
  }
}

@media screen and (min-width: 1440px) {
  .background {
    background-image: var(--bg-image-desktop-home);
    height:740px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin: 0 auto;
  }


  .leftcolumn {
    /* display: flex;
    flex-direction: column;
   gap: 5px; */
    width: 592px;
    height:740px;
  }

  .leftcolumn div .wrapper{
    height:400px
  }
  
}

@media (min-resolution: 2dppx) {
  .background {
    background-image: var(--bg-image-desktop-2x-home);
  }

}
