body {
  background-image: var(--bg-image-mobile-home);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top 108px center;
}
@media (min-resolution: 2dppx) {
  body {
    background-image: var(--bg-image-mobile-2x-home);
  }
}

.background {
  padding-top: 24px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}
.rightColumn {
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  body {
    background-image: var(--bg-image-tablet-home);
    background-position: top 88px center;
  }

  @media (min-resolution: 2dppx) {
    body {
      background-image: var(--bg-image-tablet-2x-home);
    }

    .background {
      padding-bottom: 44px;
    }
  }
}

@media screen and (min-width: 1440px) {
  body {
    background-image: var(--bg-image-desktop-home);
    background-position: top 118px center;
  }

  @media (min-resolution: 2dppx) {
    body {
      background-image: var(--bg-image-desktop-2x-home);
    }
  }

  .background {
    padding-top: 20px;
    padding-bottom: 40px;
    flex-direction: row;
    gap: 32px;
  }
}
