body.light .background {
  background-image: url('/assets/images/bg-dots-mob-1x.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 3;
}

body.dark .background {
  background-image: url('/assets/images/bg-dots-mob-dark-1x-min.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 3;
}

@media (min-resolution: 2dppx) {
  body.light .background {
    background-image: url('/assets/images/bg-dots-mob-2x.png');
  }
  body.dark .background {
    background-image: url('/assets/images/bg-dots-mob-dark-2x-min.png');
  }
}

.column {
  max-width: 280px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  body.light .background {
    background-image: url('/src/assets/images/home/bg-dots-tab-1x.png');
  }

  .column {
    max-width: 704px;
  }
}

@media (min-resolution: 2dppx) {
  body.light .background {
    background-image: url('/src/assets/images/home/bg-dots-tab-2x.png');
  }
}

@media screen and (min-width: 1440px) {
  body.light .background {
    background-image: url('/images/welcome/elL-pc-1x.png');
  }

  .column {
    width: 100%;
    max-width: 592px;
    margin-left: 32px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
  }
}

@media (min-resolution: 2dppx) {
  body.light .background {
    background-image: url('/images/welcome/elL-pc-1x.png');
  }
}
