.container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    margin-top: 24px;
    background-image: url('/src/assets/images/welcome/elL-mob-1x.png');
    background-repeat: no-repeat;
    background-position: 0 -10%;
    background-size: 100% auto;
    width: 320px;
    padding: 0 20px;
}

@media (min-resolution: 2dppx) {
    .container {
        background-image: url('/src/assets/images/welcome/elL-mob-2x.png');
    }
}

.background {
    background-image: url('/src/assets/images/home/bottle-mob-1x.png');
    background-repeat: no-repeat;
    background-position: 50% 75%;
    background-size: contain;
    height: 100vh;
}

@media (min-resolution: 2dppx) {
    .background {
        background-image: url('/src/assets/images/home/bottle-mob-2x.png');
    }
}

.title {
    font-size: 26px;
    font-weight: 500;
    color: var(--text);
}

.image {
    margin-top: 66px;
}

@media screen and (min-width: 768px) {
    .container {
        margin-top: 0;
        padding: 40px 32px 0 32px;
        width: 768px;
        align-items: baseline;
        background-image: url('/src/assets/images/welcome/elL-tab-1x.png');
        background-repeat: no-repeat;
        background-position: left -19px top 18px;
        background-size: 100% auto;
    }

    @media (min-resolution: 2dppx) {
        .container {
            background-image: url('/src/assets/images/welcome/elL-tab-2x.png');
        }
    }

    .background {
        background-image: url('/src/assets/images/home/bottle-tab-1x.png');
        background-repeat: no-repeat;
        background-position: top right -100px;
        background-size: 100% auto;
        width: 100%;
    }

    @media (min-resolution: 2dppx) {
        .background {
            background-image: url('/src/assets/images/home/bottle-tab-2x.png');
        }
    }
}

/*<----------1440px--------->*/

@media screen and (min-width: 1440px) {
    .container {
        width: 1280px;
        padding: 0 18px;
        align-items: end;
        background-image: url('/src/assets/images/welcome/elL-pc-1x.png');
        background-repeat: no-repeat;
        background-position: top 45px right 0px;
        background-size: 100% auto;
    }

    @media (min-resolution: 2dppx) {
        .container {
            background-image: url('/src/assets/images/welcome/elL-pc-2x.png');
        }
    }

    .background {
        background-image: url('/src/assets/images/home/bottle-desk-1x.png');
        background-repeat: no-repeat;
        background-position: left -350px top -40px;
        background-size: 100% auto;
        width: 100%;
        padding-left: 728px;
        padding-top: 162px;
    }

    @media (min-resolution: 2dppx) {
        .background {
            background-image: url('/src/assets/images/home/bottle-desk-2x.png');
        }
    }

}